
<h1>Tyler, you have a new client interested</h1>

<p>Client name: <%= @user[:name] %></p>

<p>Client email: <%= @user[:email] %></p>

<p>form results:</p>

<p> What are your health and fitness goals over the next 90 days? - <%= @user[:question1] %></p>
<p> What have you tried before that has worked and not worked? - <%= @user[:question2] %></p>
<p> Honestly, why do you think you haven't hit your goals yet? - <%= @user[:question3] %></p>
<p> On a scale of 1-10, 10 being the highest, how serious are you about making a change? - <%= @user[:level] %></p>
<p> Are you ready to invest in yourself TODAY? - <%= @user[:option] %></p>
<p> Please let us know if anything has changed.</p>

<p>Thank you!</p>
