<div class="contact-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center; border-bottom: solid 1px; border-color: white;">
      <h2>OUR LOCATION</h2>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-top: 1vw;">
      <h3 style="letter-spacing: 3px;">GET THAT ROCK HARD BODY TODAY!</h3>
    </div>
  </div>
</div>
<style>

@media (max-width: 770px) {
  .contact-banner h2 {
    font-size: 25px !important;
  }

  .contact-banner h3 {
    font-size: 10px !important;
  }

  .landing-container h2 {
    font-size: 15px !important;
  }

  .landing-container h1 {
    font-size: 15px !important;
  }

}

@media (max-width: 300px) {
  .about-banner h2 {
    font-size: 20px !important;
  }

  .about-banner h3 {
    font-size: 10px !important;
  }

}

@media (max-width: 425px) {
  .map {
    height: 300px !important;
  }
  .order-card-img {
    height: 300px !important;
  }

}

.btn:hover {
  opacity: 0.8 !important;
  transition: all 0.9s ease 0s;
}

</style>


<div class="landing-container">
  <div class="text-center" style="margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">
    <%= image_tag "logo1.png", size: "100x100" %>
    <h1 style="margin-left: 30px; letter-spacing: 2px;"><strong><h1 style="color: #C42626; letter-spacing: 2px;"><strong>TRANSFORMATION</strong></h1> FITNESS</strong></h1>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; align-items: center; margin-top: 1vw;">
      <h1 style="margin-right: 5vw; margin-left: 5vw; border-color: black; border-bottom: solid 1px;"><strong>OUR LOCATION:</strong></h1>
    </div>

  <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; align-items: center; margin-top: 1vw;">
    <div class="order-card-img" style="height: 500px; width: 100%;">
      <div
        class="map"
        id="map"
        style="width: 100%;
        height: 500px;"
        data-markers="{lat:37.3243969,lng:-121.9007352}"
      ></div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; align-items: center; margin-top: 1vw;">
      <h1 style="margin-right: 5vw; margin-left: 5vw; border-color: black; border-bottom: solid 1px;"><strong><%= @contactpage.maplocation %></strong></h1>

    </div>
  </div>
  <div class="quote">
    <h1>"Strength does not come from winning. Your struggles develop your strengths. When you go through hardships and decide not to surrender, that is strength."</h1>
  </div>
  <div class="landing-container">
    <h1 style="text-align: center; align-items: center;"><strong>HOURS OF OPERATION (BY APPOINTMENT ONLY!)</strong></h1>

    <table class="table table-dark" style="align-items: center; text-align: center !important;">
      <tbody>
        <thead>
            <tr>
              <th scope="col">DOW</th>
              <th scope="col">Morning:</th>
              <th scope="col">Evening:</th>
            </tr>
          </thead>
        <tr>
          <td>Mon.</td>
          <td>7am-12pm</td>
          <td>4pm-9pm</td>
        </tr>
        <tr>
          <td>Tues.</td>
          <td>7am-12pm</td>
          <td>4pm-9pm</td>
        </tr>
        <tr>
          <td>Weds.</td>
          <td>7am-12pm</td>
          <td>4pm-9pm</td>
        </tr>
        <tr>
          <td>Thurs.</td>
          <td>7am-12pm</td>
          <td>4pm-9pm</td>
        </tr>
        <tr>
          <td>Fri.</td>
          <td>7am-12pm</td>
          <td>4pm-9pm</td>
        </tr>
      </tbody>
    </table>
</div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=directions&key=#{ENV["GOOGLE_API_KEY"]}" %>

<%= javascript_pack_tag 'application' %>
<%= javascript_pack_tag "map" %>
