<div class="contact-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
      <h2>TESTIMONIALS</h2>
    </div>
  </div>
</div>


<div class="about-content-banner">
  <h2>SEE THE RESULTS FROM OUR CLIENTS!</h2>
</div>


<div class="about-content">
  <div class="client">
    <img src=<%= @testimonialspage.before_after1 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
  <div class="client">
    <img src=<%= @testimonialspage.before_after2 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
  <div class="client">
    <img src=<%= @testimonialspage.before_after3 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
  <div class="client">
    <img src=<%= @testimonialspage.before_after4 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
  <div class="client">
    <img src=<%= @testimonialspage.before_after5 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
  <div class="client">
    <img src=<%= @testimonialspage.before_after6 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
</div>
