<div class="contact-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center; border-bottom: solid 1px; border-color: white;">
      <h2>TESTIMONIALS</h2>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-top: 1vw;">
      <h3 style="letter-spacing: 3px;">SEE THE RESULTS FROM OUR CLIENTS!</h3>
    </div>
  </div>
</div>





<div class="about-content">
  <div class="client">
    <img src=<%= @testimonialspage.before_after1 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
  <div class="client">
    <img src=<%= @testimonialspage.before_after2 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
  <div class="client">
    <img src=<%= @testimonialspage.before_after3 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
  <div class="client">
    <img src=<%= @testimonialspage.before_after4 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
  <div class="client">
    <img src=<%= @testimonialspage.before_after5 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
  <div class="client">
    <img src=<%= @testimonialspage.before_after6 %>  >
    <div class="client-quote">
      <p>"<%= @testimonialspage.aaron_quote %>"</p>
    </div>
  </div>
</div>
